@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
/*! Resetter */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    /*? Font family */
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body{
    background: #e1e9fb;
    min-height: 100dvh;
    background: linear-gradient(135deg,#E1E9FB,#6EBDF9,#BCECFC8F,#BCECFC8F,#D187FF 85%);
}
main{
    position: relative;
    min-height: 100dvh;
}
.white_box {
    border: 2px rgba(255, 255, 255, 0.56) solid;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 16px;
    backdrop-filter: blur(10px);
}
.main-container{
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    max-height: 634px;
    max-width: 770px;
    padding: 125px;
}
.main-container h3{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}
.main-footer{
    display: flex;
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    margin-inline:auto;
    justify-content: center;
    align-items: center;
}
.main-footer li{
    margin: 0 auto;
    min-width: min-content;
}
.main-footer {
    max-width: 600px;
    height: 30px;
    display: flex;
    align-items: center;
}
/* Btns */
.btn_primary {
    width: fit-content;
    background: #0d6efd;
    border: 1px solid #0d6efd;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 1.2rem;
    color: #ffffff;
}
.btn_outline {
    width: fit-content;
    background: #ffffff;
    border: 2px solid #0d6efd;
    border-radius: 5px;
    font-weight: 500;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 1rem;
    color: #0d6efd;
}
.btn_primary:active,
.btn_outline:active {
    scale: 0.98;
}



.form-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form-group_input-box{
    width: 100%;
    position: relative;

}
.form-group_input-box i{
    position: absolute;
    right: 20px;
    height: min-content;
    width: min-content;
    top: 0;
    cursor: pointer;
    bottom: 0;
    margin: auto 0;
}
.form-group input{
    width: 100%;
    padding: 15px 13px ;
    border: 1px solid #CED4DA;
    border-radius: 10px;
    font-size: 1rem;
    outline: none;

}
.form-group input::placeholder{
    font-size: 1rem;
}
.form-group span{
    display: none;
    
}

.form-group input.warning + span,.form-group input.error +span{
    display: inline-block;
    color: #DC3545;
}
.form-group input.warning,.form-group input.error{
    border: 5px solid #DC3545;
}
.form-group-pass-change{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form-group-pass-change > div{
    display: flex;
    gap: 10px;
    align-items: center;
}
.form-group-pass-change_checkbox{
    width: 1rem;
    height: 1rem;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
.form-group-pass-change_checkbox i{
    width: min-content;
    height: min-content;
    color: #ffffff;
    font-size: 0.5rem;
    display: none;
}
.form-group-pass-change_checkbox.active i{
    display: block;
}
.form-group-pass-change_checkbox.active{
    background: #0d6efd;
}
.form-group-btns{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 20px;
}
.form-group-btns button,.form-group-btns a{
    display: flex;align-items: center;
    justify-content: center;
    width: 100%;
}
.previos-btn{
    display: flex;
    position: absolute;
    top: 50px;
    gap: 5px;
    align-items: center;
    font-size: 1rem;
    color: #0D6EFD;
    cursor: pointer;
}
.previos-btn img{
    rotate: 180deg;
    width: 16px;
    aspect-ratio: 1;
}

#timer{
    color: #0d6efd;
    font-size: 1.5rem;
    text-align: center;
}



/* !Responsive design */
@media(max-width:780px){
    .main-container{
        padding-inline: 60px;
    }
    .main-container h3{
        font-size: 1.25rem;
        text-align: center;
    }
}
@media(max-width:530px){
    .main-container{
        padding-inline: 40px;
    }
    .main-footer a{
        font-size: 1rem;
    }
}
@media(max-width:400px){
    .main-container{
        padding-inline: 25px;
        padding-bottom:50px ;
    }
    .main-footer a{
        font-size: 0.8rem;
    }
}
@media(max-width:350px){
    .main-container{
        padding-inline: 15px;
        padding-bottom:70px ;
    }
    .main-footer a{
        font-size: 0.7rem;
    }
}