@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
/*! Resetter */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    /*? Font family */
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/*! Root  */
/* :root{
    --home-bg-color:#e1e9fb;
    

} */

/*!Home Page  */
/** body  */
body {
    background-color: #E1E9FB;
}
/* Container */
.container {
    width: 80%;
    height: 100dvh;
    margin: 0 auto;
    margin-top: 40px;
}
/** Header */
header {
    width: 80%;
    height: 6dvh;
    background: rgba(253, 253, 253, 0.9);
    border: none;
    border-radius: 20px;
    position: fixed;
    top: 40px;
    z-index: 10;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

header *{
    color:#1D1D1F;
}
.header_navbar {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_navbar_menu {
    display: flex;
    align-items: center;
    gap: 25px;
}
/* animasiya */
.header_navbar_menu a{
    position: relative;
}
.header_navbar_menu a:hover{
    opacity: 0.9;
}
.header_navbar_menu a:hover::after{
    width: 100%;
}
.header_navbar_menu a::after{
    transition: all 0.3s ease-in-out;
    content:'';
    height: 3px;
    position: absolute;
    width: 0;
    background-color:#0D6EFD ;
    bottom: -4px;
    left: 0;
}

.header_navbar_login_btn{
    display: flex;
    gap: 10px;
    align-items: center;
    width: max-content;
    cursor: pointer;
}
/** Main  */
main{
    margin-top: 160px;
    width: 100%;
}
/* About */
#about{
    width: 100%;
    height: 80dvh;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
}
.main_about_article{
    display: flex;
    flex-direction: column;
    height: 30dvh;
    width: 75%;
    gap: 10px;
}
.main_about_article h1{
    font-size: 3rem;
    font-weight: 600;
    color: #020202;
    width: 80%;
}
.main_about_article p{
    margin-top: 10px;
    font-size: 1.5rem;
    color: #4B5563;
}
.section_btn_blue{
    width: max-content;
    background: #0D6EFD;
    border: 1px solid #0D6EFD;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 1.2rem;
    color: #ffffff;
}
.achievements{
    display: grid;
    gap:150px;
    grid-template-columns: repeat(3,1fr);
}
.achievement{
    width: 290px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.4);
    /* border:2px rgba(255, 255, 255, 0.56) solid ; */
    border-radius: 16px;
    padding: 26px;
    backdrop-filter: blur(10px);
}
.achievement h1{
    color:#111827;
    font-size: 3.5rem;
    font-weight: 700;
    height: min-content;
    width: min-content;
}
.achievement p{
    color:#4B5563;
    font-size: 1.25rem;
    height: min-content;
    width: max-content;
}
.designed_oval{
    height: 350px;
    width: 1400px;
    background: linear-gradient(45deg,#6EBDF9 100%,#BCECFC 56%);
    filter:blur(200px);
    top: 430px;
    transform: rotate(-8deg);
    border:none;
    border-radius:90% ;
    bottom:0;
    margin: auto;
    position: absolute;
}
/* Doctors */
#doctors{
    display: flex;
    margin-top: 120px;
    flex-direction: column;
    height: 40dvh;
    justify-content: space-between;
    align-items: center;
}
.section_heading{
    font-size: 40px;
    font-weight: 700;
    color: #18191F;
    position: relative;
}
.section_heading::after{
    content:'';
    width: 100%;
    position: absolute;
    bottom:-6px;
    left: 0;
    height: 3px;
    border-radius: 10px;
    background: #0D6EFD;
}
/* Comments */
/* Blog */
/* FAQ (Frequently Asked Question */
/* Footer */

/*  */
