@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
/*! Resetter */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    /*? Font family */
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/*! Root  */
:root{
    --website-responsive-size:1200px;
    

}
.fa-circle-xmark{
    display: none;
}

img{
    display: block;
    width: 100%;
}
html{
    scroll-behavior: smooth;
    width: 100%;
}
/*!Home Page  */
/** body  */
body {
    background-color: #e1e9fb;
    width: 100%;
}
/* Container */
.container {
    height: 100%;
    margin: 0 auto;
    align-items: center;
    margin-top: 40px;
}
main,header{
    max-width: var(--website-responsive-size);
    margin: 0 auto;
}
/** Header */
header {
    height: 8dvh;
    background: rgba(253, 253, 253, 0.9);
    border: none;
    margin: 0 auto;
    left: 0;
    right: 0;
    border-radius: 20px;
    position: fixed;
    top: 40px;
    z-index: 10;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

header * {
    color: #1d1d1f;
}
.header_navbar {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_navbar_menu {
    display: flex;
    align-items: center;
    gap: 25px;
}
/* animasiya */
.header_navbar div{
    display: flex;
    gap: 20px;
    align-items: center;

}
.header_navbar_menu a {
    transition: all 0.3s ease-in-out;
    position: relative;
}
.header_navbar_menu a:hover {
    opacity: 0.9;
    color: #0d6efd;
}
.header_navbar_menu a.active {
    color: #0d6efd;
}
.header_navbar_menu a:hover::after {
    width: 100%;
}
.header_navbar_menu a::after {
    transition: all 0.3s ease-in-out;
    content: "";
    height: 3px;
    position: absolute;
    width: 0;
    background-color: #0d6efd;
    bottom: -4px;
    left: 0;
}

.header_navbar_login_btn {
    display: flex;
    gap: 10px;
    align-items: center;
    width: max-content;
    cursor: pointer;
}
.fa-bars{
    color:black; 
    cursor: pointer;
    display: none;
    font-size: 2rem;
}

/** Main  */
main {
    margin-top: 160px;
}
/* About */
#about {
    min-height: 80dvh;
    display: flex;
    gap: 30px;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
}
.main_about_article {
    display: flex;
    flex-direction: column;
    min-height: 30dvh;
    width: 100%;
    gap: 10px;
}
.main_about_article h1 {
    font-size: 3rem;
    font-weight: 600;
    color: #020202;
    width: 80%;
}
.main_about_article p {
    margin-top: 10px;
    font-size: 1.5rem;
    color: #4b5563;
}
.btn_primary {
    width: fit-content;
    background: #0d6efd;
    border: 1px solid #0d6efd;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 1.2rem;
    color: #ffffff;
}
.btn_outline {
    width: fit-content;
    background: #ffffff;
    border: 2px solid #0d6efd;
    border-radius: 5px;
    font-weight: 500;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 1rem;
    color: #0d6efd;
}
.btn_primary:active,
.btn_outline:active {
    scale: 0.98;
}
.achievements {
    display: flex;
    min-height: fit-content;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.achievement {
    width: 290px;
    height: 150px;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: space-between;
    padding: 26px;
}
.white_box {
    border: 2px rgba(255, 255, 255, 0.56) solid;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 16px;
    backdrop-filter: blur(10px);
}
.achievement h1 {
    color: #111827;
    font-size: 3.5rem;
    font-weight: 700;
    height: min-content;
    width: min-content;
}
.achievement p {
    color: #4b5563;
    font-size: 1.25rem;
    height: min-content;
    width: max-content;
}
/* Body design */
.designed_oval {
    background: linear-gradient(45deg, #6ebdf9 100%, #bcecfc 56%);
    filter: blur(200px);
    top: 770px;
    width: 100%;
    border: none;
    bottom: 0;
    left: -300px;
    right: 0;
    margin: auto;
    position: absolute;
    z-index: -1;
}
.dnk__design {
    position: absolute;
    height: 400px;
    right: 0;
    top: 0;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
    /* user-drag: none; */
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    z-index: -1;
}
.dnk__design img {
    height: 2000px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    z-index: -1;
}
.designed_oval-2{
    background: linear-gradient( -45deg,#D187FF, #BCECFC8F);
    filter: blur(100px);
    width: 100%;
    border: none;
    position: absolute;
    z-index: -1;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
    -webkit-user-drag: none;
    user-select: none;
    -ms-user-select: none;
    bottom:0;
    transform: translateY(calc(300dvh + 200px));
    height: 80dvh;
    overflow: hidden;
}

.wave-design{
    position: absolute;
    width: 100%;
    overflow: hidden;
    left: 0;
    right: 0;
    top: 0;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
    /* user-drag: none; */
    -webkit-user-drag: none;
    -ms-user-select: none;
    transform: translateY(calc(300dvh + 100px));
    z-index: -1;
    margin: auto;
}
/* Doctors */
#doctors {
    display: flex;
    margin-top: 120px;
    flex-direction: column;
    min-height: 60dvh;
    justify-content: space-between;
    align-items: center;
}
/*Section heading  */
.section_heading {
    font-size: 2.5rem;
    width: fit-content;
    font-weight: 700;
    color: #18191f;
    position: relative;
}
.section_heading::after {
    content: "";
    width: 100%;
    position: absolute;
    bottom: -6px;
    left: 0;
    height: 3px;
    border-radius: 10px;
    background: #0d6efd;
}

.person {
    width: 270px;
    height: 325px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    gap: 10px;
}
.doctor_profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.doctor_profile h1 {
    font-size: 1rem;
}
.doctor_profile img {
    width: 78px;
    height: 78px;
}
.person p {
    font-size: 1rem;
    width: 218px;
    color: #4b5563;
}
.person button {
    width: min-content;
}
.doctors_people {
    width: 100%;
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(270px,1fr));
    justify-content: space-between;
    gap: 20px 0;
    align-items: center;
}
/* Comments */
#testimonials {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 120px 0;
    gap: 40px;
}

.testi__content__slide {
    position: relative;
}
.testi__content {
    padding: 40px 0;
    position: relative;
    min-height: 70dvh;
    width: 100%;
    overflow: hidden;
}
.mySwiper nav img.left {
    rotate: 180deg;
}
.mySwiper nav img {
    cursor: pointer;
}
.mySwiper nav {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
}
.testi__content__slide__profile {
    display: flex;
    align-items: center;
    gap: 19px;
    margin-top: 26px;
    margin-left: 50px;
}
.testi__content__slide__profile__details {
    display: flex;
    flex-direction: column;
}
.testi__content__slide__profile__details .name {
    font-size: 1.125rem;
    font-weight: 700;
    color: #0d6efd;
    line-height: 1.75rem;
}

.testi__content__slide__profile__details .job {
    font-size: 1.125rem;
    color: #18191f;
    line-height: 1.7rem;
}

.testi__content__slide > svg {
    position: absolute;
    top: -30px;
}

.testi__content__slide{
    display: flex;
    align-items: center;
    justify-content: center;
}
.testi__content__slide p {
    font-size: 1.234rem;
    max-width: 500px;
    margin-left: 20px;
}
.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}
.swiper-button-prev-custom{
    width: fit-content;
}
.swiper-button-next-custom{
    width: fit-content;
}
/* Blog */
#blog{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding-bottom: 120px;
}
.blog_diseases{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: space-between;
}
.blog_diseases img{
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
    width: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    -webkit-user-drag: none;
    user-select: none;
    -ms-user-select: none;
}
.blog_diseases_box{
    max-width: 573px;
    border: none;
    cursor: pointer;
    margin: auto;
}
.blog_diseases_box_description{
    display: flex;
    flex-direction: column;
    padding: 16px;
}
.blog_diseases_box_description p{
    font-size: 1rem;
}
.blog_diseases_box_description h1{
    font-weight: 500;
    font-size: 1.25rem;
}
/* FAQ (Frequently Asked Question */
#faq{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}
.faq-content{
    display: flex;
    flex-direction: column;
    padding: 91px 120px;
    width: 100%;
    margin-bottom: 120px;
    box-shadow: rgba(0, 0, 0, 0.24) 10px 10px 8px;
}
.accordion{
    display: flex;
    flex-direction: column;
    padding: 40px;
}
.accordion div{
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
}
.accordion div img{
    transition: all 0.25s ease;
}
.accordion p{
    margin-top: 15px;
    height: 0;
    width: 90%;
    opacity: 0;
    transition: all 0.2s ease;
    font-size: 1rem;
}
.accordion.active{
    border-bottom: 1px solid #0d6efd ;
}
.accordion h1{
    font-size: 1.25rem;
}
.accordion.active h1{
    color: #0d6efd;
}
.accordion.active p{
    opacity: 1;
    height: fit-content;
}
.accordion div i{
    font-size: 1rem;
}
.accordion div i{
    color: #170F49;
}
.accordion.active div i{
    color: #0d6efd;
}
/* Footer */
footer{
    min-height: 40dvh;
    background: #16191C;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
}
footer h1,a{
    font-size: 1rem;
}
footer > span{
    width: fit-content;
    color: #CBDADA;
    height: fit-content;
}
.footer-content{
    min-width: var(--website-responsive-size);
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.footer_nav{   
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.footer_nav h1{
    color: #7A7A7A;
}
.footer_nav a,i{
    color: #FDFDFD;
}
.footer_nav > li{
    height: fit-content;
}
.footer_nav > li > ul {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    height:  fit-content;
}
.footer-content div{
    display: flex;
    gap: 12px;
    flex-direction: column;
}
.footer-content div h1{
    color: #fff;
}
.footer-content div input{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border:1px solid #0D6EFD;
    background: none;
    padding:  13px 30px;
    font-size: 1rem;
    font-weight: 500;
    color: #FDFDFD;
    outline:none;
}
.footer-content div div{
    width: 100%;
    position: relative;
}
.footer-content div div .fa-chevron-right{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 15%;
    margin: auto ;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #0D6EFD;
    font-size: 1rem;
    justify-content: center;
    border-left:1px solid #0D6EFD;

}
.footer-content div div input::placeholder{
    color: #828080;
}
.footer-content div div{
    border-radius: 10px;
    border: none;
}

/*  */


@media (max-width:1000px){
    .mySwiper nav{
        display: none;
    }

}
@media (max-width:1235px){
    :root{
        --website-responsive-size:900px;
        
    
    }
    .doctors_people{
        grid-template-columns: repeat(2,1fr);
    }
    .person{
        margin-inline:auto;
    }
}

@media (max-width:935px){
    @keyframes fadeBottom {
        from{
            opacity: 0;
            transform: translateY(0);
        }
        to{
            opacity: 1;
            transform: translateY(9dvh);
        }
    }
    footer{
        padding: 50px 0;
        gap: 20px;
    }
    .footer-content{
        flex-direction: column;
        align-items: center;
        gap: 50px;

    }
    .dnk__design{
        transform: translateY(-150px);
    }
    .footer_nav{
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 30px;
    }
    :root{
        --website-responsive-size:600px;
    }
    .section_heading{
        font-size: 2rem;
    }
    .fa-bars{
        display: block;
    }
    .faq-content{
        padding: 10px;
    }
    .faq-content h1{
        font-size: 1rem;
    }
    .header_navbar_menu{
        display: none;
        transition: all 1s ease;
        opacity: 0;
    }
    .fa-circle-xmark{
        display: block;
        color: red;
        font-size: 2rem;
    }
    .header_navbar_menu.active{
        opacity: 1;
        display: flex;
        position: absolute;
        top: 0;
        transform: translateY(9dvh);
        animation: fadeBottom 400ms  ease;
        left: 0;
        align-items: center;
        flex-direction: column;
        width: var(--website-responsive-size);
        height: fit-content;
        padding: 20px;
        border: 2px rgba(255, 255, 255, 0.56) solid;
        background-color: rgba(255, 255, 255, 0.4);
        border-radius: 16px;
        backdrop-filter: blur(10px);
    }

}@media(max-width:660px){
    :root{
        --website-responsive-size:400px;
    }
    
    .testi__content__slide p{
        font-size: 1rem;
    }
    .main_about_article h1{
        font-size: 2.5rem;
        width: 100%;
    }
    .main_about_article p{
        font-size: 1rem;
    }
    .doctors_people{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .blog_diseases{
        grid-template-columns: none;
        grid-template-rows: repeat(4,1fr);
    }
    .dnk__design{
        display: none;
    }
}
@media (max-width:500px){

    .footer-content > div {
        display: none;
    }
    :root{
        --website-responsive-size:350px;
    }
    footer{
        padding: 10px;
    }
    .main_about_article h1{
        font-size: 1.25rem;
        width: 100%;
    }
    .main_about_article p{
        font-size: 0.8rem;
    }
    .section_heading{
        font-size: 1.25rem;
    }
    main,header{
        padding: 0 5px;
    }
}
@media (max-width:350px){
    :root{
        --website-responsive-size:300px;
    }


    .testi__content__slide p{
        font-size: 0.8rem;
    }
    .faq-content h1,.faq-content p {
        font-size: 0.8rem;
    }

}